.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.instructions {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.game-area {
  position: relative;
  width:800px;
  height:750px;
  background-color: #4CAF50; /* Зеленая "трава" */
  border: 5px solid #333;
  overflow: hidden; /* Чтобы машинка не вылезала за пределы */
}
.debug-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 12px;
  z-index: 1000; /* Чтобы текст был поверх всего */
}